<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myschool.geekquote">

    <uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="fr.mds.geekquote.activity.QuoteListActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="fr.mds.geekquote.activity.SecondActivity"></activity>

            <meta-data
            android:name="io.fabric.ApiKey"
            android:value="a8c3c52ca46218195bbf75785f59bae5d75afa3a" />
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
